{% extends 'ProyectoWebApp/base.html' %}

 {% load static %}

 {% block content %}

 <div class="container-fluid">
    {% comment%}
    En la pagina tienda el carrito y los productos no cuadran hay que corregir las posiciones de las columnas,
    para que carrito quede al costado derecho de la pagina
    {% endcomment%}
    <div class="row">
        <div class="col-8">
            <div class="row" style="padding: 10px 0;">
                {% for producto in productos %}
                
                    <div class="card col-4 border-0">
                        <img src="{{producto.imagen.url}}" class="card-img-top m" alt="...">
                        <div class="card-body ">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <p class="card-text">&nbsp;${{producto.precio}}</p>
                        <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Añadir al carrito</a>
                        </div>
                    </div>
                

                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            {% include "tienda/carrito.html" %}
        </div>
    </div>
</div>


 {% endblock %}



{% comment %} 
<div class="card" style="width: 18rem;">
    <img src="{{producto.imagen.url}}" class="card-img-top m" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre}}</h5>
      {% if user.is_authenticated %}
      <p class="card-text">Oferta!! {{producto.Calc_descuento}}&nbsp;$</p>
      <a href="#" class="btn btn-primary">Añadir al carrito</a>
      {% else %}
      <p class="card-text">&nbsp;${{producto.precio}}</p>
      <a href="#" class="btn btn-primary">Añadir al carrito</a>
      {% endif %}
    </div>
</div>  {% endcomment %}


{% comment %} <div class="col-8">
    <div class="row" style="padding: 10px 0;">
        <div class="col-4">
            {% include "tienda/carrito.html" %}
        </div>
        <div class="col-6">
            <div class="row">
                
                {% for producto in productos %}
                    <div class="col-6">
                        <div class="card" style="width: 18rem;">
                            <img src="{{producto.imagen.url}}" class="card-img-top m" alt="..."
                            <div class="card-body">
                                <h5 class="card-title">{{producto.nombre}}</h5>
                                <p class="card-text">&nbsp;${{producto.precio}}</p>
                                <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Añadir al carrito</a>
                                
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div> {% endcomment %}
